@charset "UTF-8";
/*
    html css 코딩을 할때
    width 값 브라우저의 최대 width값을 기준으로 하여
    % 값으로 요소(Element)의 width를 지정할 수 있다.

    height 값은 broser의 height값과는 전혀 다른 상대를 대상으로 
    만들어져서 요소들의 height값을 %로 지정할 수 없다.

    요소들의 heigh값을 %로 지정하기 위해서 먼저 html과 body height 값을 지정해주어야 한다.
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

header{
    display: flex;
    height: 100%;
    color: black;
    
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    
    background-image: url("../imgs/img_004.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}

#main{
    min-height: 80%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    
    display : flex;
    flex-flow : column;
    justify-content: center;
    align-items: center;
}

#button{
    width: 80%;
    text-align: right;
    margin: 0 auto;
}
/* id 값이 button 으로 설정된 box에 소속되어 있는 button tag에만 style을 지정하자 */
#button button{
    background-color: #2196F3;
    color: white;
    padding: 1rem; /* padding, margin에서 많이 사용하는 단위 (내부의 text크기를 1로 하여 비례적으로 적용하는 값) */
    border: none;
    padding: 8px 16px; /* button의 경우 desing guide에서 제정한 값으로 Top,Bottom : 8px, Left,Right : 16px */
    vertical-align: middle;
    cursor: pointer;
    
    /*
        hover에서 밑줄 효과를 주고자 할때 화면이 흔들리는 현상을 막기 위해서
        기본 테부리의 bottom을 투명색으로 같은 두께만큼 지정을 해준다.
    */
    border-bottom: 2px solid transparent; /* transparent : 투명색 */
    transition: all 0.5s linear;
}

#button button:hover
{
    background-color: honeydew;
    color: black;
    border-bottom: 2px solid green;
}
/*
    margin, padding의 값 지정
    4개 : Top부터 시계방향으로 1개씩 지정
    2개 : Top,bottom 그리고 Left,Right;
*/
#blog_body{
    width: 80%;
    border: 1px solid green;
    /* 
        blog_body box의 top,Bottom 여백을 10px로 하고 Left,Right 여백은 바깥쪽 box 크기를 계산하여 같은 값으로 자동 조절하라는 의미 
        blog_body를 좌우 중앙에 정렬하는 용도로 많이 쓰인다. 
    */
    margin: 10px auto; 
    background-color: rgba(0,0,255,0.2);
    color: white;
}

.blog_title{
    background-color: teal;
    padding: 8px;
    color: white;
}

.blog_title:hover{
    color: navy;
    cursor: pointer;
}

.blog_text{
    padding: 8px;
}

a{
	text-decoration: none;
	color:inherit;
}

footer{
    background-color: navy;
    color: greenyellow;
    text-align: center;
    padding: 8px;
}