@charset "UTF-8";

header {
	text-align: center;
	padding: 1.5rem;
	background-image: url("../imgs/road-1072823.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	color: ivory;
}

#button {
	text-align: right;
}
/* id 값이 button 으로 설정된 box에 소속되어 있는 button tag에만 style을 지정하자 */
#button button {
	background-color: #2196F3;
	color: white;
	padding: 1rem;
	/* padding, margin에서 많이 사용하는 단위 (내부의 text크기를 1로 하여 비례적으로 적용하는 값) */
	border: none;
	padding: 8px 16px;
	/* button의 경우 desing guide에서 제정한 값으로 Top,Bottom : 8px, Left,Right : 16px */
	vertical-align: middle;
	cursor: pointer;
	/*
       hover에서 밑줄 효과를 주고자 할때 화면이 흔들리는 현상을 막기 위해서
             기본 테부리의 bottom을 투명색으로 같은 두께만큼 지정을 해준다.
    */
	border-bottom: 2px solid transparent; /* transparent : 투명색 */
}

#button button:hover {
	background-color: honeydew;
	color: black;
	border-bottom: 2px solid green;
}
		/*
          margin, padding의 값 지정
          4개 : Top부터 시계방향으로 1개씩 지정
          2개 : Top,bottom 그리고 Left,Right;
        */
#blog_body {
	width: 80%;
	/* 
      blog_body box의 top,Bottom 여백을 10px로 하고 Left,Right 여백은 바깥쪽 box 크기를 계산하여 같은 값으로 자동 조절하라는 의미 
      blog_body를 좌우 중앙에 정렬하는 용도로 많이 쓰인다. 
    */
	margin: 10px auto;
}


.blog_title {
	background-color: teal;
	padding: 8px;
	color: white;
}

.blog_title:hover {
	color: navy;
	cursor: pointer;
}

.blog_text {
	padding: 8px;
}


a{
	text-decoration: none;
	/* a tag를 감싸고 있는 바깥 tag의 색상을 그대로 상속받아라 a tag는 자신만의 고유의 색상표를 가지고 있다. 
	    고유한 색상표가 떄로는 design을 흐트러뜨리는 원인이 된다. 
	    가장 대표적으로 color(글자색)인데 임의 a tag에 color값을  지정하면 떄로는 더욱 어울리지 않는 design이 된다
	   그래서 보통 a tag의 color는 inherit로 상속받는다.    
    */
	color: inherit; 
}



footer {
	background-color: navy;
	color: greenyellow;
	text-align: center;
	padding: 8px;
}