@charset "UTF-8";

 a { color: white; text-decoration: none; }

 ul { margin-top : 0; }

 nav { background-color: blue; text-align : center; }
 
 header
 {
     background-color: green;
     color: white;
     padding: 2rem;
     text-align: center;
 }

 li
 {
     display: inline-block;
     padding: 5px;
     background-color: blue;
     color: white;
     cursor: pointer;
 }

 li:hover { background-color: teal; color: white; }
 
 
 footer
 {
 	background-color: black;
 	text-align: center;
 	padding : 1.1rem;
 	color : white;
 }